---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import LinkButton from "@/components/LinkButton.astro";
import ReviewCard from "@/components/ReviewCard.astro";
import getSortedReviews from "@/utils/getSortedReviews";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";

const reviews = await getCollection("reviews");
const sortedReviews = getSortedReviews(reviews);
const featuredReviews = sortedReviews.filter(({ data }) => data.featured);
const recentReviews = sortedReviews.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index" class="app-layout">
    <section id="hero" class:list={["pt-8 pb-6", "border-b border-border"]}>
      <h1 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
        {SITE.title}
      </h1>
      <p>{SITE.desc}</p>
    </section>

    {
      featuredReviews.length > 0 && (
        <section
          id="featured"
          class:list={[
            "pt-12 pb-6",
            { "border-b border-border": recentReviews.length > 0 },
          ]}
        >
          <h2 class="text-2xl font-semibold tracking-wide">Featured</h2>
          <ul>
            {featuredReviews.map(review => (
              <ReviewCard {...review} />
            ))}
          </ul>
        </section>
      )
    }

    {
      recentReviews.length > 0 && (
        <section id="recent-reviews" class="pt-12 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">Recent Reviews</h2>
          <ul>
            {recentReviews
              .slice(0, SITE.postPerIndex)
              .map(review => (
                <ReviewCard {...review} />
              ))}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/reviews/">
        All Reviews
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
